*{
    font-family: "Rimouski";
}

*/

.temperature-value p{
    padding: 0;
    margin: 0;
    color: #293251;
    font-size: 100px;
    text-align: center;
    cursor: pointer;
}

.notification{
    background-color: #f8d7da;
    display: none;
}

.notification p{
    color: #721c24;
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    padding: 10px 0;
}
.weather-icon{
    max-width:100%;
    height: auto;

}

.weather-icon img{
    display: block;
    margin: 0 auto;
}
.temperature-description{
    text-align: center;
    font-size:80px;
}
